body {
  max-width: 65rem;
  margin: 1rem; /* top, right, bottom, and left */
  font-family: serif;
}

h1,h2,h3,h4 {
  text-transform: lowercase;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 175%;
}

#preamble li {
  text-transform: lowercase;
}

#about p {
  text-align: initial;
  text-justify: initial;
}


#about img {
    height: auto;
    max-width: 185px;
    border: 2px solid black;
}

#about figcaption {
    font-style: italic;
}

img {
  height: auto;
  max-width: 350px;
}

figure {
  display: block;
  width: auto;
}

figure figcaption {
  font-size: 85%;
}

td {
    vertical-align: top;
    padding: 0 1rem 0.25rem 0;
}

#postamble {
    text-transform: lowercase;
}

@media (max-width: 768px) {
  body {
    font-size: 120%;
  }

  #container {
    display: initial;
  }

  p {
    text-align: initial;
    text-justify: initial;
  }

  #preamble {
    width: initial;
    border: initial;
  }

  #content {
    width: initial;
    margin: 2rem 0 0 0;
    border: initial
  }

  h1,h2,h3,h4,h5 {
      font-size: 140%;
  }

  #container-index {
    display: initial;
  }

  #about {
   display: initial;
  }

  #profile-pic {
   display: initial;
   margin: initial;
  }

  #profile-pic figcaption {
      text-align: left;
  }
}
