body {
  max-width: 65rem;
  margin: 1rem; /* top, right, bottom, and left */
  padding: 0.5rem;
  font-family: "Noto Serif TC", "Source Han Serif", serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Android Emoji", "EmojiSymbols",
    "EmojiOne Mozilla", "Twemoji Mozilla", "Segoe UI Symbol";
}

h1 {
    font-variant: small-caps;
    font-weight: normal;
}

h2,
h3,
h4,
h5 {
    font-family: sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#references > ul {
    list-style: none;
    margin: 0 0 1.25rem 0;
    padding: 0 0 0 0;
}

#references > li {
    padding: 0 0 0 0;
}

#references ul li span {
    margin: 0 1.25rem 0 0;    
}

.footnote p {
    display: inline-block;
    margin: 0 0 1rem 0;
}

#container {
    display: flex;
}

#preamble {
    width: 20%;
    margin: 1.5rem;
    border-right: 2px solid black;
}

#preamble ul {
    list-style: none;
    margin: 0 0 1.25rem 0;
    padding: 0 0 0 0;
}

#preamble li {
    margin: 0 0 1rem 0;
}

#content {
    width: 80%;
    margin: 1.5rem;
}

#postamble {
    border-top: 2px solid black;
}

img {
  height: auto;
  max-width: 350px;
}

figure {
  display: block;
  width: auto;
}

figure figcaption {
  font-size: small;
}

#references li {
    font-family: monospace;
    font-size: 110%;
}
