body {
  max-width: 65rem;
  margin: 1rem; /* top, right, bottom, and left */
  padding: 0.5rem;
  font-family: serif;
}

.website-title {
    font-variant: small-caps;
    font-family: serif;
}

h1 {font-size: 145%;}
h2 {font-size: 120%;}
h3 {font-size: 100%;}
h4 {font-size: 100%;}
h5 {font-size: 100%;}

h1,
h2,
h3,
h4,
h5 {
    font-family: sans-serif;
}

p {
  text-align: justify;
  text-justify: inter-word;
  line-height: 175%;
}

#container {
    display: flex;
}

#preamble {
    width: 30%;
    border-right: 2px solid grey;
    padding-right: 1rem;
}

#preamble h1 {
    font-size: 160%;
}

#preamble ul {
    list-style: none;
    margin: 0 0 1.25rem 0;
    padding: 0 0 0 0;
}

#content {
    width: 80%;
    margin: 1.5rem;
}

#postamble {
    border-top: 2px solid gray;
}

img {
  height: auto;
  max-width: 350px;
}

figure {
  display: block;
  width: auto;
}

figure figcaption {
  font-size: 85%;
}

td {
    vertical-align: top;
    padding: 0 1rem 1rem 0;
}

@media (max-width: 768px) {
  body {
    font-size: 120%;
  }

  #container {
    display: initial;
  }

  p {
    text-align: initial;
    text-justify: initial;
  }

  #preamble {
    width: initial;
    border: initial;
  }

  #content {
    width: initial;
    margin: 2rem 0 0 0;
  }

  h1,h2,h3,h4,h5 {
      font-size: 140%;
  }
}
